- var revealLocation = '../bower_components/reveal.js/'
- var titlePage=""
doctype html
html(lang="en")

  include ../shared/slide_mixins

  include ../shared/head

  link(rel='external' type='text/html' src="../shared/head.jade")

  body
    .reveal
      .slides
        +titleSlide({title: "An Agile Life",subtitle: "With Github"})
        +slideGroup()
          // About me start

          +olSlide("I Am a...",
            ["Sofware Engineer",
             "Open Source Advocate",
             "Web Developer",
             "Github Nut",
             "Polyglot"])

            +speakerNotes
              | About Paul

          +littleTitleSlide("Where I developed my Skills")
          +bigTitleSlide("At Home")
            | The world is full of problems that sofware can fix
            +speakerNotes
              +note("Alone you learn how to express yourself")
              +note("Alone you also learn all your bad habits")
              +note("My favorite project was something I wrote for my mother")
          +bigTitleSlide("At School")
            | Learn to be a better you
            +speakerNotes
              +note("School has a couple of purposes in our society.")
              +note("One is for obvious and righteous expansion of our minds")
              +note("The other is the flat truth that by completing these courses we will have provied ourselves worthy of employment in our chosen field")
              +note("In reality what you do at school defines what you do immediately after graduation")
              +note("There are wonderful opportunities and the competition will be high so School is the best place to start marketing yourself")
          +bigTitleSlide("At Work")
            | Coding for Cash
            +speakerNotes
              +note("If you are not learning something at work it is likely time to move on.")
              +note("When you go out there for that first job don't get the job that has all the things you already know")
              +note("Strive for that job that stretches your limits and gives your a reason to make your a better developer")
              +note("I went to work directly after I graduated at a small web development agency." 
                + "I was only able to take that job because I worked on web projects as as student prior to graduation")
          +bigTitleSlide("Read Books")
            quote If you can read a book you can become an expert in anything
            div - Paul Scarrone
            +speakerNotes
              | If you can read a book you can do anything
          // About me end
        
        +slideGroup()
          +bigTitleSlide("Agile")
            | Things

        +slideGroup()
          +bigTitleSlide("Version Control")
          +bigTitleSlide("Git")
          +ulSlide("A History",[])

        +slideGroup()
          +bigTitleSlide("OSS")

        +slideGroup()
          +bigTitleSlide("Octocat Loves You!")
            img(src="images/baracktocat.jpg" width="50%" height="50%")
        +ulSlide("Octocat loves you", [
          "He is cute",
          "he is your friend"
          ])
          br/
          img(src="http://octodex.github.com/images/daftpunktocat-thomas.gif" width="70%" height="70%")
        +bigTitleSlide("Title")
          p You are nice
        +olSlide("title", ['thing', 'otherthing'])
        +slide()
          p amazing
          p super amazing
          p Spiderman is my co-pilot
        +slideGroup()
          +bigTitleSlide("top")
          +bigTitleSlide("bottom")
        +slide
          :markdown
            # I love Github
            ## You should too
                
            things

    include ../shared/footer