- var revealLocation = '../bower_components/reveal.js/'
doctype html
html(lang="en")
  
  include ../shared/head

  body
    .reveal
      .slides
        section
          h1 Agile with Github
          h3 Something else
          p
            small
              | Paul Scarrone
              | @PaulSCoder
        section
          h1 I love Github
          h3 You should too
          p things

    include ../shared/footer