- var revealLocation = '../bower_components/reveal.js/'
- var titlePage=""
doctype html
html(lang="en")

  include ../shared/slide_mixins

  include ../shared/head

  link(rel='external' type='text/html' src="../shared/head.jade")

  body
    .reveal
      .slides
        +titleSlide({title: "Agile Development",subtitle: "Github"})
        +ulSlide("Love the Octocat", [
          "He is cute",
          "he is your friend"
          ])
          br/
          img(src="http://octodex.github.com/images/daftpunktocat-thomas.gif" width="20%" height="20%")
        +bigTitleSlide("Title")
          p You are nice
        +slideGroup()
          +bigTitleSlide("wonder")
          +bigTitleSlide("another one")
        +olSlide("title", ['thing', 'otherthing'])
        +slide()
          p amazing
          p super amazing
          p Spiderman is my co-pilot
        +slideGroup()
          +bigTitleSlide("top")
          +bigTitleSlide("bottom")
        +slide
          :markdown
            # I love Github
            ## You should too
                
            things

    include ../shared/footer