include fragment_mixins

mixin titleSlide(titleData)
  +slide()
    h1
      = titleData.title
    h3 
      = titleData.subtitle
    p
      small
        | Paul Scarrone
        br
        | @PaulSCoders
    aside.notes
      | Oh hey, these are some notes. They'll be hidden in your presentation, but you can see them if you open the speaker notes window (hit 's' on your keyboard).

mixin ulSlide(title, list)
  +slide()
    h3= title
    +ul(list)

mixin olSlide(title, list)
  +slide()
    h3= title
    +ol(list)

mixin bigTitleSlide(title)
  +slide()
    h1= title
    block

mixin markdownSlide()
  +slide()
    :markdown
      block