- var revealLocation = '../bower_components/reveal.js/'
doctype html
html(lang="en")

  include ../shared/slide_mixins

  include ../shared/head

  link(rel='external' type='text/html' src="../shared/head.jade")

  body
    .reveal
      .slides
        +titleSlide({title: "TDD with Ruby",subtitle: "Better Development"})
        +littleTitleSlide("Test Driven Development")
          :markdown
            TDD

    include ../shared/footer