- var revealLocation = '../bower_components/reveal.js/'
doctype html
html(lang="en")

  include ../shared/slide_mixins

  include ../shared/head

  link(rel='external' type='text/html' src="../shared/head.jade")

  body
    .reveal
      .slides
        +titleSlide({title: "TDD with Ruby",subtitle: "Better Development"})
        +littleTitleSlide("Test Driven Development")
          :markdown
            TDD

        +slideGroup()
          +bigTitleSlide('So... Ruby')
            :markdown
              Where I was first successful with TDD

            +speakerNotes()
              :markdown
                - By no means is ruby the first place TDD happens
                - Ruby is terse and the tools are as developer friendly as the language

          +littleTitleSlide('Early Example')
            +codeBlock({class:"ruby"})
              | Very nice






    include ../shared/footer